
<div class="row" *ngIf="person">
  <div class="col-xl-7 mx-auto">
    <div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <a routerLink="../../">Back</a>
        </ol>
      </nav>
    </div>

    <div class="card border-top border-0 border-4 border-primary">
      <div class="card-body p-5">
        <div class="card-title d-flex align-items-center">
          <h5 class="mb-0 text-primary">
            <i class="bi bi-person-fill"></i>
            {{person.name}}
          </h5>
        </div>
        <hr/>

        <user-form-app [person]="person" (saveUser)="onSaveUser($event)"></user-form-app>
      </div>
    </div>
  </div>
</div>
